<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.3" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="RequireJS" version="2.3.2" targetFramework="net452" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.4.4" targetFramework="net452" />
  <package id="toastr" version="2.1.1" targetFramework="net452" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.3.1" targetFramework="net452" />
</packages>